<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
<form action = "/inventory/inventory" method = "POST"> 
  <div class="col-sm">
  <input type = "text" id = "id" name="id" placeholder="enter id"/>
</div>
<div class="col-sm">
  <input type = "text" id = "quantity" name="quantity" placeholder="enter quantity"/>
</div>
<div class="col-sm">
  <input type = "submit" value = "Update"/>
</div>
</form>

<table>
    <tr>
       <th>id</th><th>item</th><th>category</th><th>quantity</th><th>price</th>
    </tr>
 
    <% for (var i = 0; i < inventory.length; i++) { %>
     <tr>
       <td><%= inventory[i].id %></td>
       <td><%= inventory[i].item %></td>
       <td><%= inventory[i].category %></td>
       <td><%= inventory[i].quantity %></td>
       <td><%= inventory[i].price %></td>
     </tr>    
    <% } %>
 </table>