<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">

<div><button class="btn btn-primary btn-block mb-2" onclick="history.back()">Return</button></div>

<form action = "/managers/menu" method = "POST"> 
  <div class="col-sm">
    <input type = "text" id = "id" name="id" placeholder="enter id" required="required"/>
  </div>
  <div class="col-sm">
    <input type = "text" id = "price" name="price" placeholder="enter price" required="required"/>
  </div>
  <div class="col-sm">
    <input type = "submit" value = "Update"/>
  </div>
</form>
<ul>
  <div class="col-sm">
    <div class="text-danger">
  <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
  <li><%= error.message %></li>
  <% }) %> <% } %>
</div>
</div>
</ul>
<form action = "/managers/menu1" method = "POST"> 
  <div class="col-sm">
    <input type = "text" id = "item" name="item" placeholder="enter item" required="required"/>
  </div>
  <div class="col-sm">
    <input type = "text" id = "category" name="category" placeholder="enter category" required="required"/>
  </div>
  <div class="col-sm">
    <input type = "text" id = "price" name="price" placeholder="enter price" required="required"/>
  </div>
  <div class="col-sm">
    <input type = "submit" value = "add new item"/>
  </div>
</form>
<ul>
  <div class="col-sm">
    <div class="text-danger">
  <% if (typeof errors1 != 'undefined') { %> <% errors1.forEach(error => { %>
  <li><%= error.message %></li>
  <% }) %> <% } %>
</div>
</div>
</ul>
<table>
    <tr>
       <th>id</th><th>item</th><th>price</th>
    </tr>
 
    <% for (var i = 0; i < menu.length; i++) { %>
     <tr>
       <td><%= menu[i].id %></td>
       <td><%= menu[i].item %></td>
       <td><%= menu[i].price %></td>
     </tr>    
    <% } %>
 </table>